.info-controller {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}


@media screen and (max-width: 1080px) {
  .info-controller {
    margin: 20px 0 0 0;
    align-items: center;
  }

};