.lock-block {
    margin-top: 10px;
}

.lock-description {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__buttons {
        display: flex;
        margin-left: 10px;
    }

    &__comment {
        max-width: 300px;
    }

}


@media screen and (max-width: 450px) {
    .lock-description__comment {
        font-size: 10px;
        max-width: 200px;
    }
}